<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fastcampus.gearshift">


    <!-- 유저 정보 업데이트  -->
    <update id="update" parameterType="com.fastcampus.gearshift.dto.UserDto">
        UPDATE trustride.USER
        SET
            member_resident = #{memberResident},
            member_addr1 = #{memberAddr1},
            member_addr2 = #{memberAddr2},
            member_addr3 = #{memberAddr3},
            member_license = #{memberLicense}

        WHERE user_id = #{userId}
    </update>


    <!-- 수정 반영 조회  -->
    <select id="select" parameterType="Integer" resultType="com.fastcampus.gearshift.dto.UserDto">
        select user_id,user_name,user_phone_number
        from trustride.USER
        where user_id = #{userId};
    </select>

    <!-- 차량 리스트 조회 -->
    <select id="selectList" resultType="com.fastcampus.gearshift.dto.CarDto">

    select
        ci.car_info_id,
        info.model_name,
        info.manufacture_year,
        info.mileage,
        info.transmission,
        info.car_price,
        info.fuel_type
    from car_information ci
    left join information info on ci.car_info_id = info.car_info_id
    where  ci.is_deleted=false
    and info.is_deleted=false

    </select>


    <select id="carSelect" parameterType="Integer" resultType="com.fastcampus.gearshift.dto.CarDto">
        SELECT
            ci.car_info_id,
            info.model_name,
            ci.description,
            info.manufacture_year,
            info.mileage,
            info.transmission,
            info.car_price,
            info.fuel_type,
            info.color,
            info.previous_registration_fee AS previousRegistrationFee,
            info.maintenance_cost AS maintenanceCost,
            info.agency_fee AS agencyFee,
            info.car_location AS carLocation,
            info.owner_change_count AS ownerChangeCount,
            info.car_price AS carPrice,
            info.car_num AS carNum,
            info.car_amount_price AS carAmountPrice,
            info.engine_capacity AS engineCapacity
        FROM car_information ci
                 LEFT JOIN information info ON ci.car_info_id = info.car_info_id
        WHERE ci.is_deleted = false
          AND info.is_deleted = false
          AND ci.car_info_id = #{carInfoId}

    </select>



    <select id="userSelect" parameterType="Integer" resultType="com.fastcampus.gearshift.dto.UserDto">
     select user_id,user_name,user_phone_number
     from user
     where user_id= #{userId};
    </select>




</mapper>